


.amplify-button {
    /*font-size: 2rem;
    padding: 1rem 2rem;*/
    background: rgba(23, 37, 42, 1);
    border: none;
    color: #fefefe;
}
  
.amplify-button:hover {
    background: gray;
}

.amplify-tabs-item[data-state=active] {
    color: rgba(23, 37, 42, 1);
    border-color: rgba(23, 37, 42, 1);
    background-color: var(--amplify-components-tabs-item-active-background-color);
    transition-property: none;
}

